{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito - MILUFER</title>
    <link rel="stylesheet" href="{% static 'carrito.CSS' %}">
</head>
<body>

    <header>
    <h1>Tu Carrito</h1>
    <a href="{% url 'home' %}" class="volver">Volver a la tienda</a>
    </header>

    <div class="container">
    {% if carrito %}
        {% for item in carrito %}
        <div class="item-carrito">
            <!-- IMAGEN DEL PRODUCTO -->
            {% if item.imagen %}
            <img src="{{ item.imagen.url }}" alt="{{ item.nombre }}" class="producto-img">
            {% else %}
            <div class="sin-imagen">Sin foto</div>
            {% endif %}

            <div class="info">
            <h3>{{ item.nombre }}</h3>
            <p>Cantidad: <strong>{{ item.cantidad }}</strong></p>
            <p class="precio-item">${{ item.subtotal|floatformat:0 }}.000</p>
            </div>

            <a href="{% url 'eliminar_carrito' item.id %}" class="eliminar">Eliminar</a>
        </div>
        {% endfor %}

        <div class="total-final">
        Total: <span>${{ total|floatformat:0 }}.000</span>
        </div>

        <a href="https://wa.me/573158891440?text=¡Hola! Quiero hacer este pedido:%0A{% for item in carrito %}• {{ item.nombre }} × {{ item.cantidad }} = ${{ item.subtotal|floatformat:0 }}.000%0A{% endfor %}%0ATotal: ${{ total|floatformat:0 }}.000" 
            target="_blank" class="btn-whatsapp">
        Enviar pedido por WhatsApp
        </a>

    {% else %}
        <p class="carrito-vacio">Tu carrito está vacío</p>
    {% endif %}
    </div>

</body>
</html>