{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MILUFER</title>
  <link rel="stylesheet" href="{% static 'visitante.css' %}">
</head>
<body>
  <header>
    <h1>MILUFER</h1>
    <div class="auth-buttons">
      <a href="{% url 'login' %}">
        <button id="loginBtn">Iniciar sesión</button>
      </a>
      <a href="{% url 'registro' %}">
        <button id="registerBtn">Registrarse</button>
      </a>
    </div>
  </header>

  <div class="container">
    <div class="search-bar">
      <input type="text" id="search" placeholder="Buscar producto...">
    </div>
    <div class="cart-btn">
      <a href="{% url 'login' %}">Ir al carrito</a>
    </div>
  </div>
</body>
</html>