{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MILUFER</title>
    <link rel="stylesheet" href="{% static 'index_logueado.css' %}">
</head>
<body>
    <header>
    <h1>MILUFER</h1>
    <div class="nav">
        <a href="{% url 'carrito' %}" class="cart">Carrito ({{ cart_count }})</a>
        {% if user.is_staff %}
        <a href="{% url 'panel_admin' %}" class="btn-admin">Panel Admin</a>
        {% endif %}
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="logout-btn">Cerrar sesión</button>
</form>
    </div>
    </header>

    <div class="container">
        <div class="productos">
            {% for p in productos %}
                <div class="card {% if p.stock == 0 %}agotado{% endif %}">
                    {% if p.imagen %}
                        <img src="{{ p.imagen.url }}" alt="{{ p.nombre }}">
                    {% else %}
                        <div class="sin-foto">Sin foto</div>
                    {% endif %}
                    <h3>{{ p.nombre }}</h3>
                    <p class="precio">${{ p.precio|floatformat:0 }}.000</p>
                    {% if p.stock > 0 %}
                        <p class="stock">Quedan {{ p.stock }}</p>
                        <a href="{% url 'agregar_carrito' p.id %}" class="btn">Agregar al carrito</a>
                    {% else %}
                        <p class="agotado">AGOTADO</p>
                    {% endif %}
                </div>
            {% empty %}
                <p>No hay productos</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>